<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="css/phone-case.css" />
    <link rel="stylesheet" href="css/logo.css" />
  </head>
  <body>
    <div id="phone-case">
      <div class="logo">TiketIn</div>
      <div class="register-container">
        <h2>REGISTER</h2>
        {% if error %}
        <p class="error" style="color: red;">{{ error }}</p>
        {% endif %}
        <form id="signup-form" name="signup-form" method="post">
          <label for="phone">Name</label>
          <input type="username" name="username" id="username" required placeholder="Enter your name here">
          <label for="phone">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="example@origin.org"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <label for="phone">Password</label>
          <input type="password" id="password" name="password" required />
          <label for="phone">Repeat Password</label>
          <input type="password" id="confirm-password" name="confirm-password" required />
          <label for="phone">Pin Number</label>
          <input type="password" id="pin-num" name="pin-num" inputmode="numeric" pattern="\d{4}" maxlength="4" required placeholder="Enter PIN" />
          <button type="submit">Register</button>
        </form>
        <p class="note">
          If you already have an account, <a href="{{url_for('login_route')}}">Login</a> Now.
        </p>
      </div>
    </div>
  </body>
</html>
