<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='logo.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='phone-case.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home_page.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.cs') }}s"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='tickets-page.cs') }}s"
    />
    <title>Ticket Page</title>
  </head>
  <body>
    <div id="phone-case">
      <div class="ticket-cards">
        {% for i in range(0, trans | length) %}
        <div class="ticket-card">
          <img
            class="poster"
            src="{{ url_for('static', filename='asset/poster/' ~ trans[i].get_showing().get_movie().get_poster()) }}"
            alt=""
          />
          <div class="ticket-info">
            <div class="movie-title">{{trans[i].get_showing().get_movie().get_name()}}</div>
            <div class="ticket-details">
              <span class="seat">Seat: {{trans[i].get_tickets() | map(attribute='seatName') | join(",")}}</span>
              <span class="time">{{ time_showings[i][1][0] }}:{{ time_showings[i][1][1] }}</span>
              <span class="theater">Theater: {{trans[i].get_showing().get_studio().get_name()}}</span>
              <span class="date">{{time_showings[i][0][0]}}-{{time_showings[i][0][1]}}-{{time_showings[i][0][2]}}</span>
            </div>
            <p class="total-price">Rp {{ "{:,.0f}".format(trans[i].get_nominal()) }}</p>
            <a href="{{url_for('member.redeemTicket', trans_id=trans[i].get_id())}}" class="redeem-button {%if trans[i].ticketStatus.value == 1%}disable{%endif%}">Redeem</a>
          </div>
        </div>
        {%endfor%}
      </div>
      <div class="logo">TiketIn</div>
      <div class="footer-navbar">
        <a href="{{url_for('member.showShowingMovies')}}"
          ><img
            src="{{ url_for('static', filename='asset/icons/movie_black.svg')}}"
        /></a>
        <a href="{{url_for('member.showMemberTicketData')}}"
          ><img
            class="selected"
            src="{{ url_for('static', filename='asset/icons/ticket.svg')}}"
        /></a>
        <a href="{{url_for('account.showUserProfile')}}"
          ><img
            src="{{ url_for('static', filename='asset/icons/profile_black.svg')}}"
        /></a>
      </div>
    </div>
  </body>
</html>
